
header {
    border: 1px solid white;
    background-color: white;
}





body {
    background-color: rgb(241, 241, 241);
    
    
}





.at-ad {
    display: inline;
    border: 1px solid rgb(51, 122, 255);
    border-radius: 10%;
    background-color: rgb(51, 122, 255);
    font-size: 14px;
    
}

.at-as {
    display: inline;
    border: 1px solid gray;
    border-radius: 10%;
}


.add-task-text {
    border: 1px solid white;
    background-color: white;
    padding: 10px 50px 10px 20px;
    margin: 45px 170px 0px 170px;
    border-radius: 5px;
}


.d-margin {
    border: 1px solid white;
    ;
    background-color: white;
    padding: 10px 50px 10px 20px;
    margin: 1px 170px 0px 170px;
    border-radius: 5px;
    
}




