






header {
    border: 1px solid white;
    background-color: white;
}





body {
    background-color: rgb(241, 241, 241);
    
    
}





.at-ad {
    display: inline;
    border: 1px solid rgb(51, 122, 255);
    border-radius: 15%;
    background-color: rgb(51, 122, 255);
    font-size: 14px;
    
}

.at-as {
    display: inline;
    border: 1px solid gray;
    border-radius: 15%;
}


.add-task-text {
    border: 1px solid white;
    background-color: white;
    padding: 10px 50px 10px 20px;
    margin: 45px 170px 0px 170px;
    border-radius: 5px;
}


.d-margin {
    border: 1px solid white;
    ;
    background-color: white;
    padding: 10px 50px 10px 20px;
    margin: 1px 170px 0px 170px;
    border-radius: 5px;
    
}


.strong {
    font-size: 20px;
    font-weight: bold;
}


.blue {
    border: 1px solid rgb(81, 141, 230);
    border-radius: 25%;
    background-color: rgb(81, 141, 230);
    color: white;
    font-size: 12px;
}


.violet {
    border: 1px solid rgb(107, 0, 121);
    border-radius: 25%;
    background-color: rgb(107, 0, 121);
    color: white;
    font-size: 12px;
}

.green {
    border: 1px solid rgb(59, 248, 144);
    border-radius: 25%;
    background-color: rgb(59, 248, 144);
    color: white;
    font-size: 12px;
}


.orange {
    border: 1px solid orange;
    border-radius: 25%;
    background-color: orange;
    color: white;
    font-size: 12px;
}


.pink {
    border: 1px solid rgb(245, 86, 210);
    border-radius: 25%;
    background-color: rgb(245, 86, 210);
    color: white;
    font-size: 12px;
}


.olive {
    border: 1px solid rgb(90, 146, 0);
    border-radius: 25%;
    background-color: rgb(90, 146, 0);
    color: white;
    font-size: 12px;
}